@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Dancing+Script&family=Josefin+Sans&family=Lobster&family=Passions+Conflict&family=Permanent+Marker&family=Poppins&family=Smooch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Dancing+Script&family=Josefin+Sans&family=Lobster&family=Passions+Conflict&family=Permanent+Marker&family=Poppins&family=Smooch&display=swap');

*{
    margin: 0;padding: 0;
box-sizing: border-box;
outline: none;
text-decoration: none;
font-family: 'Poppins', sans-serif;
}




